<div class="header">
  <nav class="navbar navbar-fixed-top navbar-left">
    <div class="container-fluid">
      <ul class="nav nav-pills">
        <li id="about_button" role="presentation" ><a href="#">About</a></li>
        <li id="projects_button" role="presentation"><a href="#">Projects</a></li>
        <li role="presentation"><a target="_blank" href="https://www.visualcv.com/sam-vredenburgh?access=fsZicRBHghR">Resume</a></li>
        <li role="presentation"><a target="_blank" href="http://www.masoncos.com/">Music</a></li>
        <li id="contact_button" role="presentation"><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  <h1>Sam Vredenburgh</h1>
  <p>Web Developer</p>
  <div id="about" class="col-md-8 col-xs-8 col-md-offset-2">
    I am an aspiring full stack web developer who loves to creatively problem solve and build beautiful things. I originally grew up skiing in the mountains of the Northeast, and made my way to the bustling Midwestern hub of Chicago
    in 2011. I have a great passion for learning and building on what I have already learned to create something new.
  </div>
</div>
<div id="show-div" class="container-fluid main-content">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <div id="mason-cos">
        <div class="col-md-8 show-pic">
          <a href="#mason-modal" data-toggle="modal"><img class="img-responsive" src="http://i.imgur.com/emvIUBD.png" alt="show up" /></a>
        </div>

        <div id="mason-modal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="col-sm-4">
                  <h3>Mason Cos</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <p>
                  I love playing music in my band, Mason Cos. This is our website I developed with Ruby on Rails.
                </p>
                  <a target="_blank" href="http://www.masoncos.com/">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Launch
                  </a>
                  <a target="_blank" href="https://github.com/uelski/mason_test">
                    <img class="gh-modal" src="http://sam-vredenburgh.herokuapp.com/images/GitHub-Mark-32px.png" alt="GitHub logo" />
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div id="show-up">
        <div class="col-md-8 show-pic">
          <a href="#show-modal" data-toggle="modal"><img class="img-responsive" src="http://i.imgur.com/coiTJoD.png" alt="show up" /></a>
        </div>

        <div id="show-modal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="col-sm-4">
                  <h3>Show Up</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <p>
                  Show Up is an app that allows local bands to act as users, register, and add upcoming events to get a crowd to Show Up and support them.
                </p>
                  <a target="_blank" href="http://show-up-app.herokuapp.com/">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Launch
                  </a>
                  <a target="_blank" href="https://github.com/uelski/show_up_frontend">
                    <img class="gh-modal" src="http://sam-vredenburgh.herokuapp.com/images/GitHub-Mark-32px.png" alt="GitHub logo" />
                  </a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <div id="specialist">
        <div class="col-md-8 show-pic">
          <a href="#specialist-modal" data-toggle="modal"><img class="img-responsive" src="http://i.imgur.com/4cVI43Y.png" alt="show up" /></a>
        </div>

        <div id="specialist-modal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="col-sm-4">
                  <h3>The Specialist</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <p>
                  The Specialist is an app that displays food and drink specials in restaurants and bars. All users can vew specials in their current area, or search by zip code, city, or any other location search, and logged-in users can add specials.
                </p>
                  <a target="_blank" href="https://secret-journey-4811.herokuapp.com/">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Launch
                  </a>
                  <a target="_blank" href="https://github.com/OutputJelly/VenueSpecials">
                    <img class="gh-modal" src="http://sam-vredenburgh.herokuapp.com/images/GitHub-Mark-32px.png" alt="GitHub logo" />
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div id="eventski">
        <div class="col-md-8 show-pic">
          <a href="#eventski-modal" data-toggle="modal"><img class="img-responsive" src="http://i.imgur.com/AfGyekt.png" alt="show up" /></a>
        </div>
        <div id="eventski-modal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="col-sm-4">
                  <h3>Eventski</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <p>
                  Eventski allows a user to register, search for ski mountains around the country, and view local music shows in the area using the Songkick API. Users also have the ability to save shows they are interested in.
                </p>
                  <a target="_blank" href="http://104.131.75.146/">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Launch
                  </a>
                  <a target="_blank" href="https://github.com/Eventski/Eventski">
                    <img class="gh-modal" src="http://sam-vredenburgh.herokuapp.com/images/GitHub-Mark-32px.png" alt="GitHub logo" />
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <div id="jaco">
        <div class="col-md-8 show-pic">
          <a href="#jaco-modal" data-toggle="modal"><img class="img-responsive" src="http://i.imgur.com/HC2l7hG.png" alt="show up" /></a>
        </div>

        <div id="jaco-modal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="col-sm-4">
                  <h3>Jaco Says</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <p>
                  My first project for General Assembly, Jaco Says is a play off of the classic Simon Says game using nine bass tones in a randomly generated pattern the users must follow.
                </p>
                  <a target="_blank" href="http://project1live.herokuapp.com/">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Launch
                  </a>
                  <a target="_blank" href="https://github.com/uelski/project_1_live">
                    <img class="gh-modal" src="http://sam-vredenburgh.herokuapp.com/images/GitHub-Mark-32px.png" alt="GitHub logo" />
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  &nbsp;
  &nbsp;
  <div class="row footer-container">
    <div class="row footer-header">
      <div class="col-md-7 col-md-offset-5">
        <h2>Sam Vredenburgh</h3>
      </div>
    </div>
    <div id="footer" class="col-md-8 col-xs-8 col-md-offset-3">
      <div class="row contact-info">
        <div class="col-md-2">
          <a target="_blank" href="https://www.linkedin.com/in/samvredenburgh"><img src="http://sam-vredenburgh.herokuapp.com/images/Logo-Black-21px-R.png" alt="linkedin logo" /></a>
        </div>
        <div class="col-md-2">
          <a target="_blank" href="https://github.com/uelski">
            <img src="http://sam-vredenburgh.herokuapp.com/images/GitHub-Mark-32px.png" alt="github logo" /> GitHub
          </a>
        </div>
        <div class="col-md-3">
          <a href="mailto:sam.vburgh@gmail.com">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> sam.vburgh@gmail.com
          </a>
        </div>
        <div class="col-md-3">
          <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (203)-240-9108
        </div>
      </div>
    </div>
  </div>
