<div class="container-fluid">
      <div class="header">
        <div class="row">
          <div class="col-md-2 col-md-offset-2 header-pic">
            <img class="img-responsive img-circle" src="http://i.imgur.com/O9KKj9a.jpg?1" alt="Sam" />
          </div>
          <div class="header-text">
            <div class="col-md-4">
              <h1>Sam Vredenburgh</h1>
              <h4>Full Stack Web Developer</h4>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav nav-tabs">
            <li id="about_button" role="presentation" ><a href="#">About Me</a></li>
            <li id="projects_button" role="presentation"><a href="#">Projects</a></li>
            <li role="presentation"><a target="_blank" href="https://www.visualcv.com/sam-vredenburgh?access=fsZicRBHghR">Resume</a></li>
            <li role="presentation"><a target="_blank" href="https://soundcloud.com/mason-cos">Music</a></li>
            <li id="contact_button" role="presentation"><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div id="about" class="col-md-8 col-xs-8 col-md-offset-2">
          I am an aspiring full stack web developer who loves to creatively problem solve and build beautiful things. I originally grew up skiing in the mountains of the Northeast, and made my way to the bustling Midwestern hub of Chicago
          in 2011. I have a great passion for learning and building on what I have already learned to create something new.
        </div>
      </div>
      <hr>

      <div id="show-up" class="row">
        <div class="col-sm-4">
          <h4>Show Up</h4>
          <p>
            Show Up is an app that allows local bands to act as users, register, and add upcoming events to get a crowd to Show Up and support them.
          </p>
          <div class="col-xs-6 col-sm-6">
            <a target="_blank" href="http://show-up-app.herokuapp.com/">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Launch
            </a>
          </div>
          <div class="col-xs-6 col-sm-6">
            <a target="_blank" href="https://github.com/uelski/show_up_frontend">
              <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> GitHub
            </a>
          </div>
        </div>
        <div class="col-md-8 show-pic">
          <a target="_blank" href="http://show-up-app.herokuapp.com/"><img class="img-responsive" src="http://i.imgur.com/coiTJoD.png" alt="show up" /></a>
        </div>
      </div>
      <br>
      <div id="specialist" class="row">
        <div class="col-sm-4">
          <h4>The Specialist</h4>
          <p>
            The Specialist is an app that displays food and drink specials in restaurants and bars. All users can vew specials in their current area, or search by zip code, city, or any other location search, and logged-in users can add specials.
          </p>
          <div class="col-xs-6 col-sm-6">
            <a target="_blank" href="https://secret-journey-4811.herokuapp.com/">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Launch
            </a>
          </div>
          <div class="col-xs-6 col-sm-6">
            <a target="_blank" href="https://github.com/OutputJelly/VenueSpecials">
              <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> GitHub
            </a>
          </div>
        </div>
        <div class="col-md-8 show-pic">
          <a target="_blank" href="https://secret-journey-4811.herokuapp.com/"><img class="img-responsive" src="http://i.imgur.com/4cVI43Y.png" alt="show up" /></a>
        </div>
      </div>
      <br>
      <div id="eventski" class="row">
        <div class="col-sm-4">
          <h4>Eventski</h4>
          <p>
            Eventski allows a user to register, search for ski mountains around the country, and view local music shows in the area using the Songkick API. Users also have the ability to save shows they are interested in.
          </p>
          <div class="col-xs-6 col-sm-6">
            <!-- <a target="_blank" href="http://162.243.5.64/">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Launch
            </a> -->
          </div>
          <div class="col-xs-6 col-sm-6">
            <a target="_blank" href="https://github.com/Eventski/Eventski">
              <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> GitHub
            </a>
          </div>
        </div>
        <div class="col-md-8 show-pic">
          <img class="img-responsive" src="http://i.imgur.com/AfGyekt.png" alt="show up" />
        </div>
      </div>
      <br>
      <div id="jaco" class="row">
        <div class="col-sm-4">
          <h4>Jaco Says</h4>
          <p>
            My first project for General Assembly, Jaco Says is a play off of the classic Simon Says game using nine bass tones in a randomly generated pattern the users must follow.
          </p>
          <div class="col-xs-6 col-sm-6">
            <a target="_blank" href="http://project1live.herokuapp.com/">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Launch
            </a>
          </div>
          <div class="col-xs-6 col-sm-6">
            <a target="_blank" href="https://github.com/uelski/project_1_live">
              <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> GitHub
            </a>
          </div>
        </div>
        <div class="col-md-8 show-pic">
          <a target="_blank" href="http://project1live.herokuapp.com/"><img class="img-responsive" src="http://i.imgur.com/HC2l7hG.png" alt="show up" /></a>
        </div>
      </div>
      &nbsp;
      &nbsp;
      <div class="row footer-container">
        <div class="row footer-header">
          <div class="col-md-7 col-md-offset-5">
            <h2>Sam Vredenburgh</h3>
          </div>
        </div>
        <div id="footer" class="col-md-9 col-xs-8 col-md-offset-3">
          <div class="col-md-5">
            <h3>
              <a href="mailto:sam.vburgh@gmail.com">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> sam.vburgh@gmail.com
              </a>
            </h3>
            <h3>
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (203)-240-9108
            </h3>
          </div>
          <div class="col-md-5">
            <h3>
              <a target="_blank" href="https://www.linkedin.com/in/samvredenburgh">LinkedIn</a>
            </h3>
            <h3>
              <a target="_blank" href="https://github.com/uelski">
                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> GitHub
              </a>
            </h3>
          </div>

        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
      </div>
    </div>
