.header {
  text-align: center;
  background-image: url('http://localhost:3000/images/It_Ran_Away.jpg');
  height: 1000px;
  margin-top: -25px;
  nav {
    margin-top: 25px;
    background-color: black;
  }
  h1 {
    margin-top: 50px;
  }
}

#about {
  font-size: 20px;
  font-family: 'Lora', serif;
}

.show-pic {
  width: 500px;
}

.footer-container {
  background-color: rgb(163, 195, 201);
}
